.ant-pagination {

  .ant-pagination-item {
    border: 1px solid transparent;

    > a {
      color: #212946;
    }

    &:hover {
      border: 1px solid #000000;

      > a {      
        box-sizing: border-box;
        border-radius: 4px;
        color: #212946;
      }
    }
  }

  .ant-pagination-prev {
    > .ant-pagination-item-link  {
      border: 1px solid transparent;
    }

    &:hover {
      border: 1px solid #000000;

      > a {
        color: #212946;
      }
    }
  }

  .ant-pagination-next {
    > .ant-pagination-item-link  {
      border: 1px solid transparent;
    }

    &:hover {
      border: 1px solid #000000;

      > a {
          color: #212946;
      }
    }
  }

  .ant-pagination-item-active {
    border: 1px solid #212946;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #212946;

    > a {
      color: #fff;
    }

    &:hover {
      > a {
        color: #fff;
      }
    }
  }

  .ant-pagination-options-quick-jumper {
    > input {
      border-radius: 16px;
    }
  }
}