
.search-group-more,.search-group {
  .ant-row.ant-form-item {
    width: 100%;

    .ant-form-item-label {
      width: auto;
      vertical-align: middle;
      padding-bottom: 0;
    }

    .ant-col.ant-form-item-control-wrapper {
      width: auto;   
      vertical-align: middle;
    }

    @media @sm {
      width: auto;
    }
  }
}
