// layout --start

.ly {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__header {
    width: 100%;
    color: #fff;
    background-color: #212946;
    font-size: 16px;
    height: 60px;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;

    &__content {
      width: 100%;
      display: flex;
      justify-content: space-between;

      &__left {

      }

      &__right {

      }
    }
  }

  &__body {
    width: 100%;
    flex: 1;
    background-color: #fff;
    display: flex;
    overflow: scroll;

    &__aside {
      width: 200px;
      flex: none;
      box-sizing: border-box;
      border-right: 1px solid rgba(#000000, 0.05);
      overflow: auto;

      // 覆寫antd
      .ant-layout-sider-children {
        background-color: #fff;
      }
    }

    &__main {
      flex: 1;
      padding: 20px;
      margin: 0;
      background-color: #fff;
      overflow: auto;
      box-sizing: border-box;
    }
  }
}

// layout ---end

// 覆寫 ant design menu ---start
.ant-menu {
  border-right: 0px transparent;
}

.ant-menu-submenu-title {
  border-bottom: 1px solid rgba(black, 0.05);
}

.ant-menu-inline .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-item,
.ant-menu-inline .ant-menu-item:not(:last-child) {
  margin-bottom: 0px;
  margin-top: 0px;
}

.ant-menu-inline .ant-menu-item::after {
  border-right: 0px;
}

.ant-menu-item-selected {
  color: #fff;

  &:hover {
    color: #fff;
  }
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #fa6400;
}

// 覆寫antd
.ant-menu-item {
  border-bottom: 1px solid rgba(black, 0.05);
  margin-bottom: 0px;
  margin-top: 0px;
}

// 覆寫 ant design menu ---start




// 覆寫 ant-design radio button wrapper --- start
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  opacity: 0;
}

.ant-radio-button-wrapper {
  border-radius: 16px;
  
  & + & {
    margin-left: 10px;
  }

  &::before {
    opacity: 0;
    background-color: transparent;
    width: 0;
  }

  &:first-child {
    border-radius: 16px;
    border: 1px solid #d9d9d9;
  }


  &:last-child {
    border-radius: 16px;
    border: 1px solid #d9d9d9;
  }
}
// 覆寫 ant-design radio button wrapper --- end


// 覆寫 ant-design pagination --- start
.ant-pagination {

  .ant-pagination-item {
    border: 1px solid transparent;

    > a {
      color: #212946;
    }

    &:hover {
      border: 1px solid #000000;

      > a {      
        box-sizing: border-box;
        border-radius: 4px;
        color: #212946;
      }
    }
  }

  .ant-pagination-prev {
    > .ant-pagination-item-link  {
      border: 1px solid transparent;
    }

    &:hover {
      border: 1px solid #000000;

      > a {
        color: #212946;
      }
    }
  }

  .ant-pagination-next {
    > .ant-pagination-item-link  {
      border: 1px solid transparent;
    }

    &:hover {
      border: 1px solid #000000;

      > a {
          color: #212946;
      }
    }
  }

  .ant-pagination-item-active {
    border: 1px solid #212946;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #212946;

    > a {
      color: #fff;
    }

    &:hover {
      > a {
        color: #fff;
      }
    }
  }

  .ant-pagination-options-quick-jumper {
    > input {
      border-radius: 16px;
    }
  }
}
// 覆寫 ant-design pagination --- end

// 覆寫 ant-design tabs --- start
.ant-tabs-tab {
  color: #e4bfad;

  &-active {
    color: #fa6400    
  }
}
// 覆寫 ant-design tabs --- end

// 覆寫 ant-design modal --- start
.ant-modal-body {
  box-sizing: border-box;
  padding: 40px;
}
// 覆寫 ant-design modal --- end

// 覆寫 ant-design  --- start
.fe-button.ant-btn {
  border-radius: 16px;
}

.ant-input {
  border-radius: 16px;
}

.ant-select-selection {
  border-radius: 16px;
}
// 覆寫 ant-design  --- end


// 複寫 ant-design table --- start

.ant-table-thead > tr > th.ant-table-row-cell-break-word {
  text-align: center;
}

.ant-table-row-cell-break-word {
  
  .fe-cus-column {
    text-align: center;
  }
}

// 複寫 ant-design table --- end


// 複寫 ant-design card --- start
.ant-card {
  margin-bottom: 20px;
}
// 複寫 ant-design card --- start


// 複寫 ant-design breadcrumb --- start
.ant-breadcrumb {
  margin-bottom: 20px;
}
// 複寫 ant-design breadcrumb --- end